html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
} 
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

header {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.prilavok {
    margin-top: 50px;
    width: 1400.482px;
    height: 1336.6px;

}


.zabor{
	margin-top: -300px;
	width: 1334.586px;
    height: 688.058px;
    flex-shrink: 0;

}

.text {
width: 1155px;
height: 496px;
margin-top: 30px;
margin-left: auto;
margin-right: auto;

text-align: center;
font-family: Vollkorn;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
}


.garnitura{
	position: relative;
	width: 1313px;
	margin-left: auto;
	margin-right: auto;
    margin-top: 50px;
}


.latinitsa{
	position: absolute;
	border: 1px solid #000;
	background: #FFF;
	width: 342px;
	height: 324px;
	left: 0px;
	top: 0px;
}

.category{
	border: 1px solid #000;
	background: #FFF;
	width: 269px;
	height: 241px;
	position: absolute;
	left: 373px;
	top: 0px;
}

.style{
	position: absolute;
	border: 1px solid #000;
	background: #FFF;
	width: 269px;
	height: 187px;
	left: 673px;
	top: 0px;
}

.licenzia {
	border: 1px solid #000;
	background: #FFF;
	width: 342px;
	height: 552px;
	position: absolute;
	left: 973px;
	top: 0px;
}

.grafic {
	border: 1px solid #000;
	background: #FFF;
	width: 342px;
	height: 182px;
	position: absolute;
	left: 0px;
	top: 370px;
}

.author {
	border: 1px solid #000;
	background: #FFF;
	width: 269px;
	height: 272px;
	position: absolute;
	left: 373px;
	top: 280px;
}

.year{
	position: absolute;
	border: 1px solid #000;
	background: #FFF;
	width: 269px;
	height: 331px;
	left: 673px;
	top: 222px;
}

.blockTitle {
	text-align: center;
	font-size: 39px;
	width: 340px;
	font-family: "Vollkorn";
	font-weight: Bold;
	color: rgba(0, 0, 0, 1);
	margin-left: auto;
	margin-right: auto;
	margin-top: 12px;
	margin-bottom: 15px;
}

.blockText {
	text-align: center;
	font-size: 23px;
	width: 330px;
	font-family: "Vollkorn";
	font-weight: Medium;
	color: rgba(0, 0, 0, 1);
	margin-left: auto;
	margin-right: auto;
	font-family: Vollkorn;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	margin-left: auto;
	margin-right: auto;
}

.blockImg {
	position: absolute;
}

#moloko {
	margin-top: 12px;
	left: 20px;
}

#price {
	left: 185px;
	margin-top: 82px;
}

.blockTitle1 {
	color: #000;
    text-align: center;
    font-family: Vollkorn;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
	margin-top: 12px;
    margin-bottom: 15px;
    flex-shrink: 0;
}
.blockText1 {
	text-align: center;
	font-size: 20px;
	width: 259px;
	font-family: "Vollkorn";
	font-weight: Medium;
	color: rgba(0, 0, 0, 1);
	margin-left: auto;
	margin-right: auto;
	font-family: Vollkorn;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	margin-left: auto;
	margin-right: auto;
}
.blockImg1 {
	position: absolute;
}
#arbuzi {
	width: 270px;
    height: 57.256px;
    flex-shrink: 0;
}

.blockTitle2 {
	color: #000;
    text-align: center;
    font-family: Vollkorn;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
	margin-top: 12px;
    margin-bottom: 15px;
}
.blockText2 {
	color: #000;
    text-align: center;
    font-family: Vollkorn;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
	width: 270px;
    height: 51.337px;
    flex-shrink: 0;
}
.blockImg2 {
	position: absolute;
}
#frukti {
	width: 446px;
    height: 67.977px;
    flex-shrink: 0;
}
.blockTitle3 {
	color: #000;
    text-align: center;
    font-family: Vollkorn;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
	margin-top: 12px;
    margin-bottom: 15px;
}

.blockText3 {
	text-align: center;
	font-size: 20px;
	width: 259px;
	font-family: "Vollkorn";
	font-weight: Medium;
	color: rgba(0, 0, 0, 1);
	margin-left: auto;
	margin-right: auto;
	font-family: Vollkorn;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	margin-left: auto;
	margin-right: auto;
}
.blockImg3 {
	position: absolute;
}

#decor {
	width: 327px;
    height: 350.371px;
    flex-shrink: 0;
	top: 225px;
}
.blockTitle4 {
	color: #000;
    text-align: center;
    font-family: Vollkorn;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
	margin-top: 12px;
    margin-bottom: 15px;
}
.blockText4 {
	text-align: center;
	font-size: 20px;
	width: 306px;
	font-family: "Vollkorn";
	font-weight: Medium;
	color: rgba(0, 0, 0, 1);
	margin-left: auto;
	margin-right: auto;
	font-family: Vollkorn;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	margin-left: auto;
	margin-right: auto;
}
.blockTitle5 {
	color: #000;
    text-align: center;
    font-family: Vollkorn;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
	margin-top: 12px;
    margin-bottom: 15px;
}
.blockText5 {
	text-align: center;
	font-size: 25px;
	width: 265px;
	font-family: "Vollkorn";
	font-weight: Medium;
	color: rgba(0, 0, 0, 1);
	margin-left: auto;
	margin-right: auto;
	font-family: Vollkorn;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	margin-left: auto;
	margin-right: auto;
}
.blockImg5 {
	position: absolute;
}
#molochka{
	width: 280px;
    height: 148px;
	margin-top: 20px;
    flex-shrink: 0;
}
.blockTitle6 {
	color: #000;
    text-align: center;
    font-family: Vollkorn;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
	margin-top: 12px;
    margin-bottom: 15px;
}
.blockText6 {
	text-align: center;
	font-size: 20px;
	width: 265px;
	font-family: "Vollkorn";
	font-weight: Medium;
	color: rgba(0, 0, 0, 1);
	margin-left: auto;
	margin-right: auto;
	font-family: Vollkorn;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	margin-left: auto;
	margin-right: auto;
}
.nachertaniya {
	width: 1155px;
	height: 496px;
	margin-top: 450px;
	margin-left: auto;
	margin-right: auto;
	
	text-align: center;
	font-family: Vollkorn;
	font-size: 52px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}
.tvogorLine {
	margin-top: 650px;
	margin-left: 220px;
	width: 1433.83px;
	height: 1px;
}
.bereza {
	margin-top: -400px;
	margin-left: 20px;
	width: 1786.96px;
    height: 1039.072px;
    flex-shrink: 0;
}
.listya1 {
	margin-top: 10px;
	margin-left: 300px;
	width: 1167.151px;
    height: 306.725px;
    flex-shrink: 0;
}
.tablica {
	width: 496px;
    height: 82px;
    flex-shrink: 0;
	margin-top: -150px;
	margin-left: auto;
	margin-right: auto;
	
	text-align: center;
	font-family: Vollkorn;
	font-size: 52px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.vedro{
	margin-top: 100px;
	margin-left: 290px;
	width: 865.91px;
    height: 922.637px;
    flex-shrink: 0;
}

.flagG {
	margin-top: 60px;
	margin-left: 165px;
	width: 1286.817px;
    height: 780px;
    flex-shrink: 0;
}
.B{
	margin-top: -80px;
	margin-left: 780px;
	width: 1286.817px;
    height: 780px;
    flex-shrink: 0;
	color: #000;
    font-family: Vollkorn;
    font-size: 489px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.B1{
	margin-top: -200px;
	margin-left: 670px;
	width: 539px;
    height: 567px;
    flex-shrink: 0; 
}

.trava {
	margin-left: 50px;
	margin-top: -50px;
	width: 1622.682px;
    height: 314px;
}

.ramka{
	margin-top: 10px;
	margin-left: 100px;
	width: 678px;
	height: 67px;
	
}

.ramka1 {
	margin-top: 10px;
	margin-left: 100px;
	width: 1375px;
    height: 444px;
    flex-shrink: 0;
}